[submodule "dependencies/nu"]
	path = dependencies/nu
	url = git://github.com/mattbierner/nu.git
[submodule "dependencies/seshat"]
	path = dependencies/seshat
	url = git://github.com/mattbierner/seshat.git
[submodule "dependencies/seshet"]
	path = dependencies/seshet
	url = git@github.com:mattbierner/seshet.git
