@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

@font-face {
    font-family: 'LasEnter';
    src: url('/resources/LasEnter.ttf') format('truetype');
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/* normalize.css 2012-02-07T12:37 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none;
}

/* 2 */
q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}


html {
    font: 15px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #333;
}

* {
    box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0px;
  backgroud: #fdfdfd
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
  margin: 0 0 10px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
  line-height: 24px;
  font-weight: normal;
}

a {
  color: #5cb09e;
  font-weight: 400;
  text-decoration: none;
}
a:hover {
  color: #aaa;
}

a small {
  font-size: 11px;
  color: #666;
  margin-top: -0.6em;
  display: block;
}

strong {
  font-weight: bold;
}


.wrapper {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

header.wrapper {
    margin-top: 1em;
    padding-bottom: 1.2rem;
}

header #title {
    color: #333;
    padding-bottom: 3rem;
    padding-top: 5rem;
    width: 100%;
}

header #links {
    float: right;
}

header #logo {
    display: block;
    max-width: 24rem;
    max-height: 24rem;
    margin-left: auto;
    margin-right: auto;
}

header #blurb { 
    position: absolute;
    font-size: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    font-family: 'LasEnter', sans-serif;
    color: #FC476A;
    text-shadow:
        0 0 1px  #fff,
        0 0 4px  #fff,
        0 0 8px  #FC476A;
    
    top: 4rem;
    left: -3rem;
    transform: rotate(-26deg);
    -webkit-transform: rotate(-14deg);
    -moz-transform: rotate(-26deg);
}

header #version {
    display: block;
    font-size: 0.85em;
    width: 100%;
    text-align: right;
 }

header #title h1 {
    margin-bottom: 0.2em;
}

header ul {
  list-style: none;
  padding: 0;
  width: 100%;
  margin: 0;
}

header nav#pages {
    width: 100%;
    font-size: 1rem;
}

header nav#pages ul {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

header #pages li {
    display: table-cell;
    text-align: center;
}

header #pages a {
    display:block;
    text-align: center;
    color: #222;
}
header #pages a:hover {
    text-decoration: underline;
}



section img {
  max-width: 100%;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:12px;
}

pre {
  overflow-x: visible;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #434343;
  color: #b6b6b6;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #434343;
}

hr {
  border: 0;
  outline: none;
  height: 3px;
  border-bottom: 1px solid pink;
  margin: 0 0 20px;
}

dt {
  color: #F0E7D5;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

section {
  max-width: 650px;
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 70px;
}

article h1,
article h2 {
    width: 100%;
    clear: both;
}

article > h3,
article > h3 ~ p {
    width: 50%;
    float: left;
    clear: both;
    padding: 0 1.4rem;
}

article .highlight {
    float: right;
    width: 50%;
    clear: right;
    margin-bottom: 1rem;
}

article > h3 {
    margin: 0;
    line-height: 1.2rem;
}

article h3 ~ p {
    font-style: italic;
    font-size: 0.85rem;
}

article h2 + p {
    width: 100%;
    font-style: normal;
}



footer.wrapper {
    text-align: center;
    padding: 1rem 0;
}


footer p {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
}


/*glow for webkit*/
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 1px #fff,
               0 0 2px  #fff,
               0 0 3px  #fff,
               0 0 4px  #FF1177,
               0 0 7px  #FF1177,
               0 0 8px  #FF1177,
               0 0 10px #FF1177,
               0 0 15px #FF1177;
  }
  to {
    text-shadow: 0 0 0px #fff,
               0 0 1px #fff,
               0 0 1px #fff,
               0 0 2px #FF1177,
               0 0 3px #FF1177,
               0 0 4px #FF1177,
               0 0 5px #FF1177,
               0 0 7px #FF1177;
  }
}


@media print, screen and (max-width: 700px) {

header #blurb { 
    left: 0rem;
}
}


@media print, screen and (max-width: 580px) {
 
article > h3,
article > p,
article .highlight {
    width: 100%;
    float: none;
    clear: none;
}

article > h3,
article > p {
    padding: 0;
    margin-bottom: 0.2rem;
}

article .highlight {
    margin-bottom: 0.8rem;
    background: #f7f7f7;
    padding: 0.2rem;
    border-bottom: 1px solid #eee;
    
    word-wrap: break-word;
}

article .highlight pre {
    margin-bottom: 0;
}

header #blurb {
    display: none;
}

header #title {
    padding-top: 0rem;
}

}
