<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    
    <title>parse.js</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
    <body>
    <div class="wrapper">
        <header>
            <div class="group">
                <div id="title">
                    <h1>parse.js</h1>
                    <span id="blurb">Combinatorial Parser Javascript Library</span>
                </div>
                
                <div id="links">
                    <ul>
                        <li>
                            <a href="https://github.com/mattbierner/parse.js/zipball/master">
                                <span class='download-title'>Download</span>
                                <span class='download-item'>ZIP File</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/mattbierner/parse.js/tarball/master">
                                <span class='download-title'>Download</span>
                                <span class='download-item'>TAR Ball</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/mattbierner/parse.js">
                                <span class='download-title'>View On</span>
                                <span class='download-item'>GitHub</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <nav id='pages'>
                <ul class='group'>
                    <li><a href="index.html">Overview</a></li>
                    <li><a href="https://github.com/mattbierner/parse.js/wiki">Documentation</a></li>
                    <li><a href="console.html">Demo</a></li>
                </ul>
            </nav>
        </header>
      
        <article>{{content}}</article>
      
        <footer>
            <span class="credits left">Project created and maintained by <a href="http://mattbierner.com">Matt Bierner</a></span>
            <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span>
        </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    
  </body>
</html>