<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        
        <meta name="description" content="Non-Stop Erotic Javascript Combinatorial Parsing">
        <meta name="keywords" content="Javascript, js, parsing, parser, parser combinator, parsec, incremental parsing, nu, node parser, combinator, combinatorial">
        
        <title>Bennu</title>
        
        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="stylesheets/pygment_trac.css">

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lt IE 8]>
        <link rel="stylesheet" href="stylesheets/ie.css">
        <![endif]-->
        
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"
    </head>
  
    <body>
        <header class='wrapper'>
            <span id='version'>V17.3</span>
        
            <div id='title' class="group">
                <span id="blurb">Non-Stop Erotic Javascript<br/>Combinatorial Parsing</span>
                <img id="logo" alt="Bennu" src="resources/bennu.svg" />
            </div>
            <nav id='pages' class='group cf'>
                <ul>
                    <li><a href="https://github.com/mattbierner/bennu/wiki">Documentation</a></li>
                    <li><a href="https://npmjs.org/package/bennu">NPM Package</a></li>
                    <li><a href="https://github.com/mattbierner/bennu">Github Source</a></li>
                </ul>
            </nav>
        </header>
      
        <article class='wrapper cf'>{{ content }}</article>
      
        <footer class='wrapper'>
            <p id="project-credits" class='credits'>
                <span>Project created and maintained by</span>
                <span><a href="http://mattbierner.com">Matt Bierner</a></span>
            </p>
            <p id="theme-credits" class='credits'>
                <span>Site layout based on work by</span>
                <span><a href="http://twitter.com/#!/michigangraham">mattgraham</a></span>
            </p>
            <p id="hosting-credits" class='credits'>
                <span>Hosted on GitHub Pages</span>
            </p>
        </footer>

    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>